<h1 mat-dialog-title>Registrar nuevo equipo</h1>
<div mat-dialog-content>
    <form [formGroup]="agregarequipoForm">
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Nombre quien agrega</mat-label>
            <input formControlName="nombreagrega"  maxlength="50" type="text" matInput placeholder="Nombre">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Tipo de equipo</mat-label>
            <mat-select formControlName="tipoequipo">
                <mat-option value="SideLoader">Side Loader</mat-option>
                <mat-option value="Tractocamion">Tracto Camion</mat-option>
                <mat-option value="Retroexcavadora">Retroexcavadora</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Número económico</mat-label>
            <input formControlName="noeco" type="text" matInput placeholder="ABC-01">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Unidad de negocio</mat-label>
            <mat-select formControlName="unidad">
              <mat-option value="Depósito Veracruz">Depósito Veracruz</mat-option>
              <mat-option value="Depósito Lazaro">Depósito Lázaro</mat-option>
              <mat-option value="Depósito Ensenada">Depósito Ensenada</mat-option>
              <mat-option value="Depósito Manzanillo">Depósito Manzanillo</mat-option>
              <mat-option value="Depósito Tultepec">Depósito Tultepec</mat-option>
              <mat-option value="SUKARGA">SUKARGA</mat-option>
              <mat-option value="RFE">RFE</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Modelo</mat-label>
            <input formControlName="modelo"  maxlength="20" type="text" matInput placeholder="--">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label for="year">Año</mat-label>
            <input formControlName="anio" id="year" name="year" min="1900" max="2023" type="date" matInput placeholder="0">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Número de serie</mat-label>
            <input formControlName="numeroserie"  maxlength="20" type="number" matInput placeholder="0">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Motor</mat-label>
            <input formControlName="motor"  maxlength="20" type="text" matInput placeholder="0">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Serie de motor</mat-label>
            <input formControlName="seriemotor"  maxlength="20" type="number" matInput placeholder="0">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Estatus</mat-label>
            <mat-select formControlName="estatus">
                <mat-option value="1">Operativo</mat-option>
                <mat-option value="2">Inoperativo</mat-option>
                <mat-option value="3">Desconocido</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Atencion</mat-label>
            <input formControlName="atencion"  maxlength="40" type="text" matInput placeholder="0">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Costo en pesos</mat-label>
            <input formControlName="costopesos"  maxlength="20" type="text" matInput placeholder="0">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Costo en dolares</mat-label>
            <input formControlName="costodolares"  maxlength="20" type="text" matInput placeholder="0">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'">

    <button class="btn btn-outline-danger" mat-dialog-close>Cerrar</button>
    <button style="margin-left: 8px;"  (click)="postEquipo()" class="btn btn-outline-success">{{actionBtn}}</button>

</div>
