
.puerto {
  background-position: center center;
  background-size: 100% 100%;
  background-image: url("../../../../../assets/dist/img/puerto.jpg");
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  position: fixed;
}

.login {
  width: 350px;
  margin: 153px auto;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.456);
  border-bottom: 5px solid #2956f7;
  border-top: 5px solid #3729f7;
}

.fa {
  color: #77a0ff;
}

label {
  color: white;
}

form {

  width: 100%;
  padding: 10px;
  margin-bottom: 20px;

}

input {
  padding: 5px;
  height: 40px;
  border-radius: 10px;
  border-color: transparent;
  color: white;
  background-color: rgba(0, 149, 255, 0.1);
  width: 100%;
}

input:focus {

  border: 1px solid #084eff;
  color: #ffffff;
  box-shadow: none;
  background-color: transparent !important;
  transition: 0.1s;
}

button {
  margin: 10px auto;
  width: 100%;
  font-size: 17px;
  border-radius: 10px;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  transition: 0.2s;

}

button:hover {
  color: white;
}

@media screen and (max-width: 362px) {


  .login {
    background-color: #495e9099;
    width: 97%;
    margin: 50px auto;
  }

  button {
    width: 100%;
  }
}


