<body>
  <div class="puerto">
    <div class="login">
      <h4 style="text-align: center; color: white;">Bienvenido</h4>
      <form [formGroup]="myForm" (ngSubmit)="submitFormulario()" action="" method="post" class="demo-form" data-parsley-validate="">
        <label><i class="fa fa-user"></i>&nbsp; Numero de trabajador</label>
        <input formControlName="usuario" [class.is-invalid]="f.usuario.errors && f.usuario.touched"
        type="email" class="form-control" id="exampleFormControlInput1" placeholder="No. trabajador" required="">
        <label><i class="fa fa-lock"></i>&nbsp; Contraseña</label>
        <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched"
        type="password" class="form-control" id="exampleFormControlInput2" placeholder="Contraseña" required="">
        <hr>
        <button type="submit" value="Login">Login</button>
      </form>
    </div>
  </div>
</body>
