<br>

<h3 style="text-align: center;"><span> Todos los equipos</span></h3>
<br>
<!--
    <p>Number of visible people: {{(dataSource|filter:query).length}}</p>
<p>Total number of people: {{dataSource.length}}</p> -->
<div class="container">
  <div style=" justify-content: center; ">
    <button>
      <div id="item1" class="totalequipos"><i style="margin-left: -10px;" id="icons"
          class="fa-solid fa-3x fa-truck"></i><span id="span1">Equipos mostrados</span><label id="label1"
          for="">{{dataSource.filteredData.length}}</label></div>
    </button>
    <button>
      <div id="item2" class="totalequipos"><i style="margin-left: -35px;" id="icons"
          class="fa-solid fa-3x fa-truck"></i><span id="span1">Operativos </span><label id="label2"
          for="">{{estatusOperativo}}</label></div>
    </button>
    <button>
      <div id="item3" class="totalequipos"><i style="margin-left: -30px;" id="icons"
          class="fa-solid fa-3x fa-truck"></i><span id="span1">Inoperativos</span><label id="label3"
          for="">{{estatusInoperativo}}</label></div>
    </button>
    <button>
      <div id="item4" class="totalequipos"><i style="margin-left: -25px;" id="icons"
          class="fa-solid fa-3x fa-truck"></i><span id="span1">Desconocidos</span><label id="label4"
          for="">{{estatusDesconocido}}</label></div>
    </button>
  </div>



  <button id="button-header" mat-raised-button mat-raised-button (click)="OpenDialogAgregarEquipo()"><i
      class="fa-sharp fa-3x fa-solid fa-plus"></i>
    <div id="text-header">Agregar equipo</div>
  </button>
  <div id="filtroI"></div>

  <ul id="menu-header">
    <li><mat-form-field id="inputFiltro">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Escriba una característica" #input>
      </mat-form-field></li>
  </ul>
  <br>




  <br>
  <br>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id" >
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Id Equipo </th>
        <td mat-cell style="background-color: #aeaeaea2;"  *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="noeco" sticky>
        <th mat-header-cell style="background-color: #3b8c88;"   *matHeaderCellDef mat-sort-hea der>Número económico</th>
        <td mat-cell style="background-color: #aeaeae;" *matCellDef="let row"> {{row.noeco}} </td>
      </ng-container>
      <ng-container matColumnDef="tipoequipo">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Tipo equipo </th>
        <td mat-cell  *matCellDef="let row"> {{row.tipoequipo}} </td>
      </ng-container>
      <ng-container matColumnDef="unidad">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Unidad de negocio </th>
        <td mat-cell  *matCellDef="let row"> {{row.unidad}} </td>
      </ng-container>
      <ng-container matColumnDef="modelo">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Modelo </th>
        <td mat-cell  *matCellDef="let row"> {{row.modelo}} </td>
      </ng-container>
      <ng-container matColumnDef="estatus">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Estado</th>
        <td mat-cell  *matCellDef="let row"> {{row.estatus}} </td>
      </ng-container>
      <ng-container matColumnDef="anio">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Año</th>
        <td mat-cell  *matCellDef="let row"> {{row.anio}} </td>
      </ng-container>
      <ng-container matColumnDef="numeroserie">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Número de serie</th>
        <td mat-cell  *matCellDef="let row"> {{row.numeroserie}} </td>
      </ng-container>
      <ng-container matColumnDef="motor">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Motor</th>
        <td mat-cell  *matCellDef="let row"> {{row.motor}} </td>
      </ng-container>
      <ng-container matColumnDef="seriemotor">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Serie del Motor</th>
        <td mat-cell  *matCellDef="let row"> {{row.seriemotor}} </td>
      </ng-container>
      <ng-container matColumnDef="costopesos">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Costo en Pesos</th>
        <td mat-cell  *matCellDef="let row">  {{row.costopesos |currency:"MXN":"symbol" }} </td>
      </ng-container>
      <ng-container matColumnDef="costodolares">
        <th mat-header-cell style="background-color: #3b8c88ac;"   *matHeaderCellDef mat-sort-header> Costo en Dólares</th>
        <td mat-cell  *matCellDef="let row"> {{row.costodolares | currency: 'USD' | lowercase}}</td>
      </ng-container>
      <ng-container matColumnDef="accion" stickyEnd>
        <th mat-header-cell style="background-color: #3b8c88;"   *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell style="background-color: #aeaeae;"  *matCellDef="let row">
            <button (click)="editEquipo(row)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="eliminarEquipo(row.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sin datos que mostrar"{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Elementos por página">
</mat-paginator>
  </section>
</div>
