@media only screen and (max-width: 992px) {
  #inputFiltro {
    width: 340px;
    height: 70px;
    margin-top: 50px;
  }

  #button-header {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    background-color: #002C46;
    border: none;
  }


  #filtroI {
    width: 350px;
    height: 60px;
    margin-top: 14px;
    border: 3px solid #002C46;
    position: absolute;
  }

  #item1 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    background-image: linear-gradient(#0b2b62, #496dc1);
    margin-bottom: 20px;
  }

  #item2 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    background-image: linear-gradient(#73773a, #d4dd51);
    margin-bottom: 20px;
  }

  #item3 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    background-image: linear-gradient(#465791, #13615e);
    margin-bottom: 20px;
  }

  #item4 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    background-image: linear-gradient(#576bac, #13615e);
    margin-bottom: 20px;
  }

}

/* MENU HEADER */
#menu-header {
  margin-top: -30px;
  padding: 0;
  list-style-type: none;
  margin-left: 5px;

}

#icons {
  margin-top: 10px;
  margin-left: -10px;
  position: absolute;
}



#menu-header li {
  float: left;
}



@media only screen and (min-width: 600px) {
  #inputFiltro {
    width: 380px;
    height: 70px;
    margin-top: 50px;
    margin-right: 100px;
  }


  #filtroI {
    width: 390px;
    height: 60px;
    margin-top: 14px;
    border: 3px solid #002C46;
    position: absolute;
  }

  #item1 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    margin-right: 10px;
    background-image: linear-gradient(#204279, #4c85e2);
  }

  #item2 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    margin-right: 10px;
    background-image: linear-gradient(#3b8c5f, #5ac181);

  }

  #item3 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    margin-right: 10px;
    background-image: linear-gradient(#783636, #f47878);

  }

  #item4 {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 13px;
    border-radius: 10px;
    margin-right: 10px;
    background-image: linear-gradient(#674180, #f78cfb);

  }

  #button-header {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: 10px;
    height: 60px;
    color: white;
    margin-left: 400px;
    font-size: 13px;
    border-radius: 10px;
    background-color: #002C46;
    border: none;
    position: absolute;
  }



}



/* MENU HEADER */
#menu-header {
  margin-top: -30px;
  padding: 0;
  list-style-type: none;
  margin-left: 5px;

}

#icons {
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}



#menu-header li {
  float: left;
}


/* DIVS muestra info principal */


label {
  margin-top: 15px;
  position: absolute;
  font-size: 30px;
}

#label1{
  margin-left: -10px;
}
#label2 {
  margin-left: 15px;
}

#label3{
  margin-left: 15px;
}


#span1 {
  margin-left: 36px;
}

#itemsresumen {
  display: inline-flex;
  width: auto;
  height: auto;
  align-items: start;
}

mat-card-title {
  margin-left: 20px;
}

/* css table */
.example-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

/* GENERALS */
button{
  border: none;
}
